html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #866042;
    user-select: none;
}

/* typography */

h1, h3 {
    margin: 10px auto;
}

textarea, input[type="text"], button, ul li {
    font-size: 20px;
    text-align: center;
    font-family: inherit;
}

button {
    font-weight: bold;
}

/* layout */

header {
    margin: 20px auto;
    text-align: center;
}

img {
    width: 200px;
}

.container {
    width: calc(100% - 200px);
    margin: 0 auto;
}

.details-inputs {
    display: flex;
    justify-content: space-between;
}

/* input styling */

textarea, input {
    color:#866042;
    background-color: #DCE1EB;

    outline: 0px;
    resize: none;
}

textarea {
    width: calc(100% - 30px);
    max-height: 10%;
    vertical-align: top;
}

input {
    width: 47%;
    margin-top: 10px;
}

textarea, input, button {
    border: 0;
    padding: 15px;
    border-radius: 8px;
}

/* save button */

button {
    color:#866042;
    background-color: #F4C263;
    width:100%;
    margin-top: 10px;
}

button:hover {
    background-color: #432000;
    cursor: pointer;
}

/* list of quotes */

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #FFE2AA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    
    border-radius: 6px;
    margin-top: 15px;
}

.details {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}